.start-main-vbox{
    -fx-spacing: 15px;
    -fx-min-width: 200px;
    -fx-alignment: center;
    -fx-padding: 10px 0 20px 70px;
}
.main-title{
    -fx-font-size: 64px;
    -fx-font-family: "Berlin Sans FB Demi Bold";
}

.root-hbox{
    -fx-spacing: 100px;
}

.online-text{
    -fx-font-family: "Berlin Sans FB Demi Bold";
    -fx-font-size:20px;
    -fx-alignment: center;
}

